# Dependencies
node_modules/
.pnpm-store/
.yarn/

# Build output
dist/
build/
static/

# Database
*.db
*.db-wal
*.db-shm
data/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Misc
*.tgz
.cache/
/plans
/images/
/backend/stackradar.config.yml
/scripts/provision/raan.config.yaml
